header {
    background-color: #4aaaa5;
    text-align:left;
    padding:35px; 
    color: white;

}


h1{
	color: #4aaaa5
	
}

li {
    display: inline;
}

ul {
	text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


footer {
    background-color:#979A9A;
    color:white;
    clear:both;
    text-align:center;
    padding:35px; 
}